body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5em;
}

strong {
  color:blue;
}

.mainText,
.blankWords {
  margin: 1em;
  padding: 0.5em;
  border: 0.1em;
  border-style: solid;
  border-color: #000000;
  font-size: 1.25em;
}

.hide {
  opacity: 1;
  margin-left: 0px;
  max-height: 1;
  padding: 0em;
}

/* starting animation */
.hide.ng-hide-add,
.hide.ng-hide-remove {
  transition: all linear 0.5s;
}

/* ending animation */
.hide.ng-hide {
  margin-left: -200px;
  opacity: 0;
  max-height: 0;
  padding: 1em;
}

.topBar {
  border-style: solid;
  padding: 1em;
  border-color: #000000;
  text-align: center;
}

input[type="text"] {
  font-size: 1em;
  line-height: 1.5em;
}

input[type="number"] {
  font-size: 1em;
  line-height: 1.5em;
}
